.certificate{
    margin-bottom: 2rem;
    color: #e4d0c8;
    background: #6b0f1a;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-transform: capitalize;
    animation: side 5s ease;
    animation-delay: 9s;
}
.certificate-section{
    display: flex;
    justify-content: space-around;
    padding: 2rem 3rem;
    text-align: left;
    background: linear-gradient(rgba(27, 122, 27, 0.5), #6b0f1a), url(/src/assets/blue.jpeg);
    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;
}