.header {
  width: 100%;
  background-color: #f1eaeb;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  position: fixed;
  width: 100%;
  height: 8vh;
  z-index: 100;
}

.logo li{
  list-style: none;
  cursor:pointer;
}
.logo h3 {
  font-size: 25px;
  font-weight: 500;
  color: darkgreen;
  margin: 0;
}

.logo span {
  background: #6b0f1a;
  color: #e4d0c8;
  font-weight: 700;
  padding: .5rem;
  font-size: 22px;
  border-radius: 50%;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 40px;
}


.nav-links {
  display: flex;
  list-style: none;
  gap: 2.5rem;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 900;
  color: #444;
  transition: all 0.3s ease;
  position: relative;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 4px;
  background-color: darkgreen;
  transition: width 0.3s ease;
}

.nav-links li a:hover {
  color: darkgreen;
  font-size: 16px;
  font-weight: 900;
}

.nav-links li a:hover::after {
  width: 100%;
}


.contact a {
  text-decoration: none;
  padding: 10px 22px;
  border-radius: 6px;
  background-color: #6b0f1a;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.contact a:hover {
  background-color: #4d0c14;
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(107, 15, 26, 0.3);
}
.menu-icon {
  display: none;
  margin: auto 0;
  font-size: 26px;
  font-weight: 700;
  color: #4d0c14;
}

@media (max-width: 900px) {
  .header {
    justify-content: space-between;  
  }

   .nav-links {
      position: absolute;
      top: 50px;
      right: 0;
      background: #4d0c14;
      color: white;
      background-position: center;
      min-width: 50%;
      max-width: 1200px;
      min-height: 60vh;
      max-height: 1200px;
      flex-direction: column;
      align-items: center;
      padding: 4rem 10px;
      display: none;
      text-transform: capitalize;
      z-index: -1;
    }
    .nav-links li {
      margin: 1rem 0;
    }
    .nav-links li a{
      text-align: right;
      font-weight: 700;
      font-size: 1.2rem;
      text-transform: uppercase;
      color: #e4d0c8;
      transition:all .5s ease;
    }
    .nav-links li a:hover {
      background: #e4d0c8;
      color: #4d0c14;
      margin: 0;
      padding: 0.2rem;
      border: none;
    }
    .nav-links.open {
      display: flex;
    }
  .nav-links {
    gap: 18px;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 1px;
    
  }
  .logo span {
    background: #6b0f1a;
    color: #e4d0c8;
    font-weight: 700;
    padding: .5rem;
    font-size: 18px;
    border-radius: 50%;
}

  .logo h3 {
    font-size: 20px;
    font-weight: 500;
    gap: 0px;
    margin: auto 1rem;
}
.logo h3 span {
    background: #6b0f1a;
    color: #e4d0c8;
    font-weight: 700;
    padding: .5rem;
    font-size: 18px;
    border-radius: 50%;
  
}
  .menu-icon {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 11px;
  }
}

@media (max-width: 768px) {
  .nav-links {
    display: none; 
  }
}
